* {
    font-family: 'Roboto', sans-serif;
  }

  header {
      flex: auto;
      color: white;
      background-color: black;
      text-align: center;
  }

 


  #city-buttons .btn {
    color: black;
    background-color: white;
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    /* color: var(--primary); */
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark); 
    transform: translate(-1px, -1px);
  }

  #weatherDeets {
    display: flex;
    justify-content: right;
  }
  