* {
    font-family: 'Roboto', sans-serif;
  }

  header {
      flex: auto;
      color: white;
      background-color:cornflowerblue;
      text-align: center;
  }

 .col-4 {
 -ms-flex-align: start;
 }

 img {
  max-width: 10%;
  height: auto;
}
 #weatherDeets {
  padding-bottom: 0%;
  margin-bottom: 0%;
 }

.subtitle {
  font-size: 150%;
}

#fiveDay {
 display: flex;
 justify-content: space-around;
  padding: 10px;
  width: 20em;
}

.card-body {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin-bottom: 1em;
}







/*add deatils here to make "boxes" for 5-day fit better*/
}

  #city-buttons .btn {
    color: black;
    background-color: white;
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    /* color: var(--primary); */
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark); 
    transform: translate(-1px, -1px);
  }

  
 